<header class="header">
  <div class="container header-body">
    <nav class="header-nav">
      <a class="header-logo" href="">
        <p class="header-logo-text"><span> SIMPLY </span>CHOCOLATE</p>
        <svg class="header-logo-pic" width="24" height="24">
          <use href="/img/icons.svg#icon-logo-chocolate"></use>
        </svg>
      </a>

      <ul class="header-list">
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Home </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> How it’s made? </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Our products </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Top sellers </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <ul class="header-socials-list">
      <li class="header-socials-item list">
        <a
          class="header-socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials-pic" width="24" height="24">
            <use href="../img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item list">
        <a
          class="header-socials-plink"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials-pic" width="24" height="24">
            <use href="/img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
