<header class="header">
  <div class="container header-body">
    <nav class="header-nav">
      <a class="header-logo" href="/index.html">
        <p class="header-logo-text"><span> SIMPLY </span>CHOCOLATE</p>
        <svg class="header-logo-pic" width="21" height="21">
          <use href="/img/icons.svg#icon-logo-chocolate"></use>
        </svg>
      </a>

      <ul class="header-list">
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Home </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> How it’s made? </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Our products </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Top sellers </a>
        </li>
        <li class="header-list-item list">
          <a class="header-list-link" href=""> Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-mobil-menu-button-open">
      <svg class="header-mobile-menu-button-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>

    <ul class="header-socials-list">
      <li class="header-socials-item list">
        <a
          class="header-socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials-pic" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item list">
        <a
          class="header-socials-link"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-socials-pic" width="24" height="24">
            <use href="/img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="header-mobile-menu">
    <div class="header-container-mobile-menu">
      <button type="button" class="header-mobile-menu-close-bth">
        <svg class="header-mobile-menu-bth-pic" width="12" height="12">
          <use href="/img/icons.svg#i-close-button"></use>
        </svg>
      </button>

      <ul class="header-mobil-menu-list list">
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> Home </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> How it’s made? </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> Our products </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> Top sellers </a>
        </li>
        <li class="header-list-item-mobile-menu list">
          <a class="header-list-link" href=""> Chocolate is loved</a>
        </li>
      </ul>
    </div>

    <div class="header-mobil-menu-social">
      <ul class="header-mobil-menu-list-social list">
        <li class="header-mobil-menu-list-item">
          <a
            class="header-mobil-menu-socials-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-mobile-menu-socials-pic" width="22" height="22">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-mobil-menu-list-item">
          <a
            class="header-mobil-menu-socials-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-mobile-menu-socials-pic" width="20" height="20">
              <use href="/img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
