<!--============= MODAL-EXPLORE =============-->
<div class="modal-explore-backdrop is-hidden" data-modal-1>
  <div class="modal-explore">
    <div class="modal-explore-bg"></div>
    <div class="modal-explore-content">
      <button type="button" class="modal-explore-close-btn" data-modal-close-1>
        <svg class="modal-explore-close-btn-icon">
          <use href="../img/icons.svg#i-close-button"></use>
        </svg>
      </button>
      <p class="modal-explore-text">
        Explore our <span>new chocolate</span> first!
      </p>
      <div class="modal-explore-form-container">
        <form class="modal-explore-form">
          <label>
            <input
              type="email"
              class="modal-explore-form-input"
              name="user-email"
              required
              placeholder="Enter your email"
            />
          </label>
          <button type="submit" class="modal-explore-form-submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--============= /MODAL-EXPLORE =============-->
