<div class="backdrop-explore is-hidden" data-modal-1>
  <div class="modal-explore">
    <button type="button" class="modal-revier-close-btn" data-modal-close-1>
      <svg class="modal-revier-close-btn-icon" width="12" height="12">
        <use href="../img/icons.svg#i-close-button"></use>
      </svg>
    </button>
    <h2 class="modal-explore-text">
      Explore our <br />
      <span>new chocolate</span> first!
    </h2>
    <div class="modal-explore-form-container">
      <form class="modal-explore-form">
        <label>
          <input
            type="email"
            class="modal-explore-form-input"
            name="user-email"
            required
            placeholder="Enter your email"
          />
        </label>
        <button type="submit" class="modal-explore-form-submit">Submit</button>
      </form>
    </div>
  </div>
</div>
