<section class="our-products slider" id="products">
  <div class="container">
    <h2 class="our-products-title">Our <span>Products</span></h2>
    <div class="priceSwiper">
      <ul class="our-products-list list swiper-wrapper">
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-1-1x.jpg 1x,
                ./img/our-products/our-1-2x.jpg 2x
              "
              src="./img/our-products/our-1-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle our-block">orange</h2>
            <p class="our-products-text our-block">Dark chocolate</p>
            <p class="box our-block">45 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-2-1x.jpg 1x,
                ./img/our-products/our-2-2x.jpg 2x
              "
              src="./img/our-products/our-2-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">
              APPLE&CRANBERRY
            </h2>
            <p class="our-products-text our-block">Milk chocolate</p>
            <p class="box our-block">50 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-3-1x.jpg 1x,
                ./img/our-products/our-3-2x.jpg 2x
              "
              src="./img/our-products/our-3-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">
              lime&sea salt
            </h2>
            <p class="our-products-text our-block">Dark chocolate</p>
            <p class="box our-block">66 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-4-1x.jpg 1x,
                ./img/our-products/our-4-2x.jpg 2x
              "
              src="./img/our-products/our-4-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">pineapple</h2>
            <p class="our-products-text our-block">Dark chocolate</p>
            <p class="box our-block">54 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-5-1x.jpg 1x,
                ./img/our-products/our-5-2x.jpg 2x
              "
              src="./img/our-products/our-5-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">Classic</h2>
            <p class="our-products-text our-block">Milk chocolate</p>
            <p class="box our-block">45 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-6-1x.jpg 1x,
                ./img/our-products/our-6-2x.jpg 2x
              "
              src="./img/our-products/our-6-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">honey</h2>
            <p class="our-products-text our-block">Milk chocolate</p>
            <p class="box our-block">50 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-7-1x.jpg 1x,
                ./img/our-products/our-7-2x.jpg 2x
              "
              src="./img/our-products/our-7-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">
              Roasted fruits
            </h2>
            <p class="our-products-text our-block">Dark chocolate</p>
            <p class="box our-block">66 UAH</p>
          </div>
        </li>
        <li class="slider-item swiper-slide">
          <div class="our-li-block">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/our-8-1x.jpg 1x,
                ./img/our-products/our-8-2x.jpg 2x
              "
              src="../img/our-products/our-8-1x.jpg"
              alt="Chocolate"
              width="230"
              height="200"
            />
            <h2 class="our-products-subtitle subtitle our-block">Classic</h2>
            <p class="our-products-text our-block">White chocolate</p>
            <p class="box our-block">54 UAH</p>
          </div>
        </li>
      </ul>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
