<section class="our-products">
  <div class="container">
    <h2 class="our-products-title">Our <span>Products</span></h2>
    <ul class="our-products-list">
      <li>
        <img
          srcset="../img/our- products/our-1-1x.jpg, ../img/our- products/our-1-2x.jpg"
          src="../img/our- products/our-1-1x.jpg"
          alt="Chocolate"
        />
        <h2 class="our-products-subtitle subtitle">orange</h2>
        <p class="our-products-text">Dark chocolate</p>
        <p class="box">50 UAH</p>
      </li>
    </ul>
  </div>
</section>
