<section class="our-products slider" id="products">
  <div class="container">
    <h2 class="our-products-title">Our <span>Products</span></h2>
    <div class="our-products-container swiper">
      <ul class="our-products-list list swiper-wrapper">
        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-1-1x.jpg,
              ./img/our-products/our-1-2x.jpg
            "
            src="./img/our-products/our-1-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">orange</h2>
          <p class="our-products-text">Dark chocolate</p>
          <p class="box">45 UAH</p>
        </li>
        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->

        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-2-1x.jpg,
              ./img/our-products/our-2-2x.jpg
            "
            src="./img/our-products/our-2-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">APPLE&CRANBERRY</h2>
          <p class="our-products-text">Milk chocolate</p>
          <p class="box">50 UAH</p>
        </li>

        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->

        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-3-1x.jpg,
              ./img/our-products/our-3-2x.jpg
            "
            src="./img/our-products/our-3-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">lime&sea salt</h2>
          <p class="our-products-text">Dark chocolate</p>
          <p class="box">66 UAH</p>
        </li>
        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->
        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-4-1x.jpg,
              ./img/our-products/our-4-2x.jpg
            "
            src="./img/our-products/our-4-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">pineapple</h2>
          <p class="our-products-text">Dark chocolate</p>
          <p class="box">54 UAH</p>
        </li>
        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->
        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-5-1x.jpg,
              ./img/our-products/our-5-2x.jpg
            "
            src="./img/our-products/our-5-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">Classic</h2>
          <p class="our-products-text">Milk chocolate</p>
          <p class="box">45 UAH</p>
        </li>
        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->
        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-6-1x.jpg,
              ./img/our-products/our-6-2x.jpg
            "
            src="./img/our-products/our-6-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">honey</h2>
          <p class="our-products-text">Milk chocolate</p>
          <p class="box">50 UAH</p>
        </li>
        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->
        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-7-1x.jpg,
              ./img/our-products/our-7-2x.jpg
            "
            src="./img/our-products/our-7-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">Roasted fruits</h2>
          <p class="our-products-text">Dark chocolate</p>
          <p class="box">66 UAH</p>
        </li>
        <!-- </ul>
      <ul class="our-products-list list swiper-wrapper"> -->
        <li class="slider-item swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ./img/our-products/our-8-1x.jpg,
              ./img/our-products/our-8-2x.jpg
            "
            src="../img/our-products/our-8-1x.jpg"
            alt="Chocolate"
          />
          <h2 class="our-products-subtitle subtitle">Classic</h2>
          <p class="our-products-text">White chocolate</p>
          <p class="box">54 UAH</p>
        </li>
      </ul>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
