<section class="production" >
   <div class="production-container">
        <h2 class="production-title" >HOW IT’S <span >MADE?</span></h2>
<div class="production-content-video">
        <iframe class="production-video"  src="https://www.youtube.com/embed/ZtMfiWDQHT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <div class="production-content">
            <h3 class="production-pre-title" >Try  our chocolates today and  discover the perfect balance of flavor</h3>
            <ul class="production-list list" >
                <li class="production-item" >Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                <li class="production-item" >At the same time, prepare a water bath. Melt the butter on it.</li>
                <li class="production-item" >"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
                <li class="production-item" >Heat the mixture over low heat, letting it barely boil.</li>
                <li class="production-item" >Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
            </ul>
       </div>
</div>
   </div>
</section>