<!--    reviews    -->

<section>
    <h2>chocolate is loved</h2>

</section>

<div class="bllock">
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-group-chocolate"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-angle-small"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-close"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-desk-hover-instagram"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-desk-hover-twitter"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-desktop-chocolate"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-desktop-instagram"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-desktop-twitter"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-group-chocolate"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-group-dolar"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-group-spoon"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-burger-menu"></use>
      </svg>
    </a>
    <a href="" class="link">
      <svg class="icon">
        <use href="./images/symbol-optim.svg#icon-mobile-chocolate"></use>
      </svg>
    </a>
  </div>