<!-- --------------- Review section --------------------- -->

<section class="review-section section">
    <div class="review-container container">
        <h2 class="review-title"> chocolate <span>is loved</span></h2>

        <ul class="review-list list">

            <li class="review-item">
                <div class="review-content">
                    <img class="review-foto"
                        srcset="./img/review-section/Ellipse4@1x.png 1x, ./img/review-section/Ellipse4@2x.png 2x"
                        src="./img/review-section/Ellipse4@1x.png" alt="Viktoria Dobranska" width="80" />

                    <h3 class="review-subtitle">Viktoria Dobranska</h3>

                    <p class="review-text">I love this chocolate bar. Perfect combination of light crispy wafer,
                        covered in a thin layer chocolate.
                    </p>
                </div>
            </li>

            <li class="review-item">
                <div class="review-content">
                    <img class="review-foto"
                        srcset="./img/review-section/Ellipse5@1x.png 1x, ./img/review-section/Ellipse5@2x.png 2x"
                        src="./img/review-section/Ellipse5@1x.png" alt="Nazar Babenko" width="80" />

                    <h3 class="review-subtitle">Nazar Babenko</h3>

                    <p class="review-text">This chocolate confection is a delight! A delight! The wafer is light
                        and crisp, the hazelnut cream is smooth, and the
                        chocolate is good.
                    </p>
                </div>
            </li>

            <li class="review-item">
                <div class="review-content">
                    <img class="review-foto"
                        srcset="./img/review-section/Ellipse6@1x.png 1x, ./img/review-section/Ellipse6@2x.png 2x"
                        src="./img/review-section/Ellipse6@1x.png" alt="Olena Kampusch" width="80" />

                    <h3 class="review-subtitle">Olena Kampusch</h3>

                    <p class="review-text">Chocolate is a family favourite treat. Love the delicious smooth
                        chocolate and the creaminess inside. The wafer is soft
                        but crunchy.
                    </p>
                </div>
            </li>
        </ul>

        <ul class="review-dots list">
            <li class="review-dots-item"></li>
            <li class="review-dots-item"></li>
            <li class="review-dots-item"></li>
            <li class="review-dots-item"></li>
        </ul>

        <button class="review-btn" type="button" data-modal-open>Leave a review</button>

    </div>
</section>