<div class="is-loved-section container">
  <p class="is-loved-title">chocolate is loved</p>
 
  <!-- <ul class="list cards-block">
      <li class="card-list-item">
        <a href="" class="link card">
          <div class="card-list-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/desktop-banking.jpg    1x,
                  ./images/desktop-banking@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 767px)"
                srcset="
                  ./images/tablet-banking.jpg    1x,
                  ./images/tablet-banking@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile-banking.jpg    1x,
                  ./images/mobile-banking@2x.jpg 2x
                "
              />
              <img
                src="./images/project1-1.jpg"
                alt="щось"
                width="360"
                height="200"
              />
            </picture>
            
          </div>
          <div class="card-block-text">
            <h2 class="cards-name">Victoria Dobrzhanska</h2>
            <p class="cards-direction">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
          </div>
        </a>
      </li>

      <li class="card-list-item">
          <a href="" class="link card">
            <div class="card-list-wrapper">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-food.jpg    1x,
                    ./images/desktop-food@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 767px)"
                  srcset="
                    ./images/tablet-food.jpg    1x,
                    ./images/tablet-food@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-food.jpg    1x,
                    ./images/mobile-food@2x.jpg 2x
                  "
                />
                <img
                  src="./images/project3-2.jpg"
                  alt="щось"
                  width="360"
                  height="200"
                />
              </picture>
              
            </div>
            <div class="card-block-text">
              <h2 class="cards-name">Nazar Babenko</h2>
              <p class="cards-direction">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
            </div>
          </a>
        </li>

        <li class="card-list-item">
          <a href="" class="link card">
            <div class="card-list-wrapper">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-coffee.jpg    1x,
                    ./images/desktop-coffee@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 767px)"
                  srcset="
                    ./images/tablet-coffee.jpg    1x,
                    ./images/tablet-coffee@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-coffee.jpg    1x,
                    ./images/mobile-coffee@2x.jpg 2x
                  "
                />
                <img
                  src="./images/project3-3.jpg"
                  alt="щось"
                  width="360"
                  height="200"
                />
              </picture>
              
            </div>
            <div class="card-block-text">
              <h2 class="cards-name">Olena Kampusch</h2>
              <p class="cards-direction">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy</p>
            </div>
          </a>
        </li>
      </ul> -->

      <section class="card-set wrapper">
        <!-- <p class="excerpt">SLIDER</p> -->
  
        <div class="image-slider swiper">
          <div class="image-slider-wrapper swiper-wrapper">
            <div class="image-slider-slide swiper-slide">
              <div class="image-slider-image">
                <img class="position" src="../img/reviews/desk-dobranska.jpg" alt="foto" width="80" height="80"/>
                <div class="card-list-item">
                  <p class="cards-name">Victoria Dobrzhanska</p>
                  <p class="cards-direction">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>

                
              </div>
            </div>
            <div class="image-slider-slide swiper-slide">
              <div class="image-slider-image">
                <img class="position" src="../img/reviews/desk-babenko.jpg" alt="foto" width="80" height="80"/>
                <div class="card-list-item">
                  <h2 class="cards-name">Nazar Babenko</h2>
                  <p class="cards-direction">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </div>
              </div>
            </div>
            <div class="image-slider-slide swiper-slide">
              <div class="image-slider-image">
                <img class="position" src="../img/reviews/desk-olena.jpg" alt="foto" width="80" height="80"/>
                <div class="card-list-item">
                  <h2 class="cards-name">Olena Kampusch</h2>
                  <p class="cards-direction">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy</p>
                </div>
              </div>
            </div>
            
          </div>
          
  
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="is-loved-line"></div>
        <div class="is-loved-block">
          <button type="button" class="is-loved-button" data-modal-open>Leave  a review</button>
          
        </div>


      </section>

</div>


  

