
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/subscribe.css">
</head>
<body>
  <section class="subscribe-section overlay">
    <div class="subscribe-container">
      <h2 class="subscribe-explore">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
      <p class="subscribe-text">
        From the velvety texture to the rich and complex flavor, our New Chocolate
        is a true indulgence that will leave you craving more. Made with only the
        finest ingredients and handcrafted with the utmost care, each piece is a
        work of art that is sure to please.
      </p>
      <button class="subscribe-btn" type="button" data-modal-open-1>
        Subscribe
      </button>
    </div>
  </section>

</body>
</html>