<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe</title>
    <link rel="stylesheet" href="../js/mobile-menu.js">
    <link rel="stylesheet" href="../css/subscribe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Raleway:wght@800&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <section class="subscribe-section overlay">
        <div class="subscribe-container">
          <h2 class="subscribe-explore">EXPLORE OUR NEW<br/>CHOCOLATE FIRST</h2>
          <p class="subscribe-text">
            From the velvety texture to the rich and complex flavor, our New
            Chocolate is a true indulgence that will leave you craving more.
            Made with only the finest ingredients and handcrafted with the
            utmost care, each piece is a work of art that is sure to please.
          </p>
          <button class="subscribe-btn" type="button" data-modal-open-2>
            Subscribe
          </button>
        </div>
        <div class="subscribe-modal  subscribe-backdrop  is-hidden" data-modal-2>
          <div class="subscribe-container-modal">
          <ul class="subscribe-list">
            <li class="subscribe-photo-modal">
              <img
              srcset="../img/Subscribe.img/Subscribe-modal.jpg 1x, ../img/Subscribe.img/Subscribe-modal-2x.jpg 2x"
              src="../img/Subscribe.img/Subscribe-modal"
              alt="chocolate"
              height="169"
            />
            <svg class="subscribe-vector">
              <use href="../img/icons.svg#i-close-button"></use>
            </svg>
             
        </li>
         <li >
              <h2 class="subscribe-modal-text">Explore our <span class="subscribe-new-color">new chocolate</span>first!</h2>
              <form>
                <input
                class="subscribe-input"
                  type="email"
                  name="email"
                  placeholder="Enter your email"
                  required
                />
                <button  data-modal-close-2 type="button">Submit</button>
              </form>
            </li>
          </ul>
         </div>
        </div>
      </section>
    </main>
    <script src="../js/mobile-menu.js"></script>
  </body>
</html>
