<section class="sellers section">
  <div class="sellers-container container">
    <h2 id="top" class="sellers-title title">
      <span class="sellers-title-span">TOP </span>SELLERS
    </h2>
    <ul class="sellers-list list">
      <li class="sellers-item">
        <div class="sellers-card">
          <picture>
            <source
            srcset="../img/Top-sellers/chocolatewithcoffeeandnuts-mobile-1x.jpg
            1x, ../img/Top-sellers/chocolatewithcoffeeandnuts-mobile-2x.jpg 2x"
            media="(max-width: 767px)" width: 335px height: 464px /> <source
            srcset="../img/Top-sellers/chocolatewithcoffeeandnuts-tablet-1x.jpg
            1x, ../img/Top-sellers/chocolatewithcoffeeandnuts-tablet-2x.jpg 2x"
            media="(max-width: 1199px)" width: 344px height: 464px /> <source
            srcset="../img/Top-sellers/chocolatewithcoffeeandnuts-desktop-1x.jpg
            1x, ../img/Top-sellers/chocolatewithcoffeeandnuts-desktop-2x.jpg 2x"
            media="(min-width: 1200px)" width: 368px height: 464px />

            <img
              class="sellers-pic"
              src="./img/Top-sellers/chocolatewithcoffeeandnuts-desktop-1x.jpg"
              alt="chocolate with coffee and nuts"
            />
          </picture>
          <p class="sellers-text-one">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
      </li>
      <li class="sellers-item">
        <picture>
          <source
          srcset="./img/Top-sellers/chocolatewithraisinandmint-mobile-1x.jpg 1x,
          ./img/Top-sellers/chocolatewithraisinandmint-mobile-2x.jpg 2x"
          media="(max-width: 767px)" width: 335px height: 464px /> <source
          srcset="./img/Top-sellers/chocolatewithraisinandmint-tablet-1x.jpg 1x,
          ../img/Top-sellers/chocolatewithraisinandmint-tablet-2x.jpg 2x"
          media="(max-width: 1199px)" width: 344px height: 464px /> <source
          srcset="./img/Top-sellers/chocolatewithraisinandmint-desktop-1x.jpg
          1x, ./img/Top-sellers/chocolatewithraisinandmint-desktop-2x.jpg 2x"
          media="(min-width: 1200px)" width: 368px height: 464px />

          <img
            class="sellers-pic"
            src="./img/Top-sellers/chocolatewithraisinandmint-desktop-1x.jpg"
            alt="chocolate with raisin and mint"
          />
        </picture>
      </li>
      <li class="sellers-item third-foto">
        <picture>
          <source srcset="./img/Top-sellers/heapofchocolate-1x.jpg 1x,
          ./img/Top-sellers/heapofchocolate-2x.jpg 2x" media="(min-width:
          1200px)" width: 368px height: 464px />

          <img
            class="sellers-pic"
            src="./img/Top-sellers/heapofchocolate-1x.jpg"
            alt="heap of chocolate"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-div">
      <p class="sellers-text-two">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="sellers-btn" data-modal-open-2>
        Buy now
      </button>
    </div>
  </div>
</section>
