<!-- ------------------------------ Uniq-comp -------------------------------- -->

<section class="uniq-section section">
  <div class="uniq-container container">
    <h2 class="uniq-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>

    <p class="uniq-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="uniq-card-list list">
      <li class="uniq-card-item">
        <a href="" class="uniq-card-link link">
          <div class="uniq-card">
            <picture class="uniq-img">
              <source
                srcset="
                  ./img/uniq-comp/milk-chocolate-bar-1x-min.png 1x,
                  ./img/uniq-comp/milk-chocolate-bar-2x-min.png 2x
                "
                media="(min-width: 320px)"
                width="224"
                height="171"
              />
              <source
                srcset="
                  ./img/uniq-comp/milk-chocolate-bar-desktop-1x-min.png 1x,
                  ./img/uniq-comp/milk-chocolate-bar-desktop-2x-min.png 2x
                "
                media="(min-width: 1200px)"
                width="206"
                height="160"
              />
              <img
                src="./img/uniq-comp/milk-chocolate-bar-1x-min.png"
                alt="milk-chocolate-bar"
                width="224"
                height="171"
              />
            </picture>
            <p class="uniq-subtitle">mILK CHOCOLATE</p>
          </div>

          <div class="uniq-card-content">
            <h3 class="ucc-title">Milk chocolate</h3>

            <div class="ucc-btn-wrap">
              <button class="ucc-btn-one" type="button">chocolate</button>
              <button class="ucc-btn-two" type="button">the benefits</button>
            </div>

            <p class="ucc-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times.<span class="ucc-three-dots">...</span>
              Although four-fifths of all milk chocolate is sold in the United
              States and Europe, increasingly large<span>...</span> amounts are
              consumed in China and Latin America.
            </p>
          </div>
        </a>
      </li>

      <li class="uniq-card-item">
        <a href="" class="uniq-card-link link">
          <div class="uniq-card">
            <picture class="uniq-img">
              <source
                srcset="
                  ./img/uniq-comp/milk-mobile-1x-min.png 1x,
                  ./img/uniq-comp/milk-mobile-2x-min.png 2x
                "
                media="(min-width: 320px)"
                width="224"
                height="171"
              />
              <source
                srcset="
                  ./img/uniq-comp/milk-desktop-1x-min.png 1x,
                  ./img/uniq-comp/milk-desktop-2x-min.png 2x
                "
                media="(min-width: 1200px)"
                width="206"
                height="160"
              />
              <img
                src="./img/uniq-comp/milk-desktop-1x-min.png"
                alt="milk"
                width="224"
                height="171"
              />
            </picture>
            <p class="uniq-subtitle">mILK</p>
          </div>

          <div class="uniq-card-content">
            <h3 class="ucc-title">Milk</h3>

            <div class="ucc-btn-wrap">
              <button class="ucc-btn-one" type="button">milk</button>
              <button class="ucc-btn-two" type="button">the benefits</button>
            </div>

            <p class="ucc-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk,<span class="ucc-three-dots"
                >...</span
              >
              which is called colostrum, contains antibodies that strengthen the
              immune system,<span>...</span> and thus reduces the risk of many
              diseases. Milk contains many nutrients, including protein and
              lactose.
            </p>
          </div>
        </a>
      </li>

      <li class="uniq-card-item">
        <a href="" class="uniq-card-link link">
          <div class="uniq-card">
            <picture class="uniq-img">
              <source
                srcset="
                  ./img/uniq-comp/nuts-mobile-1x-min.png 1x,
                  ./img/uniq-comp/nuts-mobile-2x-min.png 2x
                "
                media="(min-width: 320px)"
                width="224"
                height="171"
              />
              <source
                srcset="
                  ./img/uniq-comp/nuts-desktop-1x-min.png 1x,
                  ./img/uniq-comp/nuts-desktop-2x-min.png 2x
                "
                media="(min-width: 1200px)"
                width="206"
                height="160"
              />
              <img
                src="./img/uniq-comp/nuts-mobile-1x-min.png"
                alt="nuts"
                width="224"
                height="171"
              />
            </picture>
            <p class="uniq-subtitle">nuts</p>
          </div>

          <div class="uniq-card-content">
            <h3 class="ucc-title">nuts</h3>

            <div class="ucc-btn-wrap">
              <button class="ucc-btn-one" type="button">nuts</button>
              <button class="ucc-btn-two" type="button">the benefits</button>
            </div>

            <p class="ucc-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They're a good source<span
                class="ucc-three-dots"
                >...</span
              >
              of fiber, healthy fats, and plant protein. Plus, they're great on
              their own, paired with<span>...</span> fruit, or added to dishes
              like salads, desserts, and grains.
            </p>
          </div>
        </a>
      </li>

      <li class="uniq-card-item">
        <a href="" class="uniq-card-link link">
          <div class="uniq-card">
            <picture class="uniq-img">
              <source
                srcset="
                  ./img/uniq-comp/semi-sweet-mobile-1x-min.png 1x,
                  ./img/uniq-comp/semi-sweet-mobile-2x-min.png 2x
                "
                media="(min-width: 320px)"
                width="224"
                height="171"
              />
              <source
                srcset="
                  ./img/uniq-comp/semi-sweet-desktop-1x-min.png 1x,
                  ./img/uniq-comp/semi-sweet-desktop-2x-min.png 2x
                "
                media="(min-width: 1200px)"
                width="206"
                height="160"
              />
              <img
                src="./img/uniq-comp/semi-sweet-mobile-1x-min.png"
                alt="semi-sweet-chocolate"
                width="224"
                height="171"
              />
            </picture>
            <p class="uniq-subtitle">sEMI - SWEET CHOCOLATE</p>
          </div>

          <div class="uniq-card-content">
            <h3 class="ucc-title">sEMI - SWEET CHOCOLATE</h3>

            <div class="ucc-btn-wrap">
              <button class="ucc-btn-one" type="button">sweet chocolate</button>
              <button class="ucc-btn-two" type="button">the benefits</button>
            </div>

            <p class="ucc-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter
              and<span>...</span>
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
