<section class="uc-conteiner container">
  <h2 class="uc-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span>TASTE</span> SENSATION
  </h2>
  <p class="uc-title-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <div class="uc-wrap">
    <ul class="ingredients-list list">
      <li class="card-one card">
        <div class="uc-card">
          <div class="uc-image-wrap">
            <picture class="uc-card">
              <source
                srcset="
                  ./img/unique-components/milk-chocolade.jpg    1x,
                  ./img/unique-components/milk-chocolade@2x.jpg 2x
                "
                media="(max-width: 768px)"
              />
              <source
                srcset="
                  ./img/unique-components/milk-chocolade-desc.jpg    1x,
                  ./img/unique-components/milk-chocolade-desc@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="./img/unique-components/milk-chocolade-desc.jpg"
                alt="milk-chocolade"
              />
            </picture>
            <p class="uc-card-text">MILK CHOCOLATE</p>
          </div>
          <div class="uc-info">
            <h3 class="uc-subtitle">MILK CHOKOLATE</h3>
            <button type="button" class="uc-info-btn">chocolate</button>
            <button type="button" class="uc-info-btn">the benefits</button>
            <p class="uc-info-overlay">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="card-two card">
        <div class="uc-card">
          <div class="uc-image-wrap">
            <picture class="uc-card">
              <source
                srcset="
                  ./img/unique-components/milk.jpg    1x,
                  ./img/unique-components/milk@2x.jpg 2x
                "
                media="(max-width: 768px)"
              />
              <source
                srcset="
                  ./img/unique-components/milk-desc.jpg    1x,
                  ./img/unique-components/milk-desc@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img
                src="../img/unique-components/milk-chocolade-desc.jpg"
                alt="milk"
              />
            </picture>
            <p class="uc-card-text">MILK</p>
          </div>
          <div class="uc-info">
            <h3 class="uc-subtitle">MILK</h3>
            <button type="button" class="uc-info-btn">milk</button>
            <button type="button" class="uc-info-btn">the benefits</button>
            <p class="uc-info-overlay">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="card-three card">
        <div class="uc-card">
          <div class="uc-image-wrap">
            <picture class="uc-card">
              <source
                srcset="
                  ./img/unique-components/nuts.jpg    1x,
                  ./img/unique-components/nuts@2x.jpg 2x
                "
                media="(max-width: 768px)"
              />
              <source
                srcset="
                  ./img/unique-components/nuts-desc.jpg    1x,
                  ./img/unique-components/nuts-desc@2x.jpg 2x
                "
                media="(max-width: 1200px)"
              />
              <img src="./img/unique-components/nuts-desc.jpg" alt="nuts" />
            </picture>
            <p class="uc-card-text">NUTS</p>
          </div>
          <div class="uc-info">
            <h3 class="uc-subtitle">NUTS</h3>
            <button type="button" class="uc-info-btn">nuts</button>
            <button type="button" class="uc-info-btn">the benefits</button>
            <p class="uc-info-overlay">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="card-four card">
        <div class="uc-card">
          <div class="uc-image-wrap">
            <picture class="uc-card">
              <source
                srcset="
                  ./img/unique-components/semi-sweet-chocolade.jpg,
                  ./img/unique-components/semi-sweet-chocolade@2x.jpg
                "
                media="(max-width: 768px)"
              />
              <source
                srcset="
                  ./img/unique-components/semi-sweet-chocolade-desc.jpg,
                  ./img/unique-components/semi-sweet-chocolade-desc@2x.jpg
                "
                media="(max-width: 1200px)"
              />
              <img
                src="./img/unique-components/semi-sweet-chocolade-desc.jpg"
                alt="milk"
              />
            </picture>
            <p class="uc-card-text">SEMI - SWEET CHOCOLATE</p>
          </div>
          <div class="uc-info">
            <h3 class="uc-subtitle">SEMI - SWEET CHOCOLATE</h3>
            <button type="button" class="uc-info-btn">sweet chocolate</button>
            <button type="button" class="uc-info-btn">the benefits</button>
            <p class="uc-info-overlay">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
