@media screen and (min-width: 375px) {
  .footer-container {
    max-width: 375px;
  }
}


@media screen and (min-width: 768px) {
    .footer-container {
        max-width: 734px;
    }
}




@media screen and (min-width: 1200px) {
    .footer-container {
        max-width: 1166px;

    }
}

.footer-page {
    padding: 32px 0;
    background-color: #1E1823;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .footer-page{
        padding: 50px 0;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-slogan {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #ffffff;

    max-width: 260px;
    margin-bottom: 32px;
}

.first-word {
    color: #FD9222;
}

@media screen and (min-width:768px) {
    .footer-slogan {
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.02em;

        max-width: 300px;
           
    }
}

@media screen and (min-width:1200px) {
    .footer-slogan {
    
        margin-right: 543px;

    }
}

.footer-wrapper {
    display: block;
    margin-bottom: 32px;
   
}

.footer-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: start;
    margin-bottom: 14px;
    
    color: #FFFFFF;
}

.footer-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  
    
}


.footer-list.address {
    gap: 4px;
}

.footer-contacts {
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.footer-contacts:hover, 
.footer-contacts:focus {
    color: #FD9222;
}


.footer-list.social {
    display: flex;
    flex-direction: row;
    gap: 14px;
    
}

.footer-link {
    text-decoration: none;
    background-color: transparent;
    fill: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.footer-link:hover,
.footer-link:focus {
    fill:#FD9222;
}



@media screen and (min-width: 768px) {
    .footer-icon {
        width: 24px;
        height:24px;
    }
} 

.footer-nav {
    width: 100%;
   
    
}

@media screen and (min-width: 768px) {
    .footer-list-nav {
        display: flex;
        flex-direction: row;
    }
}
 
.footer-nav::before {
    
    content: " ";
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-list-nav {
    margin-top: 32px;
}

.footer-item-nav:not(:last-child) {
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .footer-item-nav:not(:last-child) {
        margin-right: 24px;
    }
}

.footer-navigation {
    display: flex;
    flex-direction: column;
  
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;    
    letter-spacing: -0.02em;

    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.footer-navigation:hover,
.footer-navigation:focus {
    color: #FD9222;
}