/* ------Mobile------- */

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

.header-list {
  display: none;
}

.header-socials-list {
  display: none;
}
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.header-logo-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111111;
}

.header-logo-text span {
  font-style: italic;
}

.header-logo-pic {
  fill: rgba(253, 146, 34, 1);
}

.header-mobil-menu-button-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 220px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #111111;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

.header-mobile-menu {
  transform: translateX(100%);
}

.header-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-container-mobile-menu {
  position: relative;
  padding-left: 50px;
  padding-top: 136px;
  padding-right: 46px;
  display: flex;
  flex-direction: column;
}

.header-mobile-menu-close-bth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: aliceblue;
}

.header-mobil-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}

.header-list-item-mobile-menu {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header-mobile-menu-socials-pic {
  fill: rgba(255, 255, 255, 1);
}

.header-mobil-menu-social {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: auto;
}

.header-mobil-menu-list-social {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo-pic {
  width: 21px;
  height: 21px;
}

.header-mobile-menu-socials-pic {
  width: 22px;
  height: 22px;
}

.header-mobile-menu-button-icon {
  width: 28px;
  height: 28px;
}

/* ------Tablet------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-mobile-menu {
    width: 290px;
  }

  .header-list-link:hover,
  .header-list-link:focus {
    color: #fd9222;
  }

  .header-mobil-menu-social {
    margin-bottom: 24px;
  }

  .header-mobile-menu-socials-pic:focus,
  .header-mobile-menu-socials-pic:hover {
    fill: rgba(253, 146, 34, 1);
  }

  .header-mobile-menu-bth-pic:hover,
  .header-mobile-menu-bth-pic:focus {
    fill: rgba(253, 146, 34, 1);
  }

  .header-list-link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-mobile-menu-socials-pic {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-list-item {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-socials-link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-mobile-menu-socials-pic {
    width: 24px;
    height: 24px;
  }

  .header-mobile-menu-button-icon {
    width: 32px;
    height: 32px;
  }
}

/* ------Dekstop------- */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }

  .header-mobile-menu {
    display: none;
  }

  .header-mobil-menu-button-open {
    display: none;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  .header-socials-list {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 188px;
  }

  .header-list-item:not(:last-child) {
    margin-right: 24px;
  }

  .header-socials-list {
    gap: 18px;
    margin-left: auto;
  }

  .header-logo-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .header-logo-text span {
    font-style: italic;
  }

  .header-logo-pic {
    fill: rgba(253, 146, 34, 1);
  }
  .header-list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
  }

  .header-logo-pic {
    width: 24px;
    height: 24px;
  }
  .header-socials-pic {
    width: 24px;
    height: 24px;
  }

  .header-socials-link:focus,
  .header-socials-link:hover {
    fill: #fd9222;
  }

  .header-logo-text:hover,
  .header-logo-text:focus {
    color: #fd9222;
  }
}
