.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------Mobile------- */

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .header-list {
    display: none;
  }

  .header-socials-list {
    display: none;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
  /* .header-body {
    display: flex;
    align-items: center;
  } */
  .header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .header-logo-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .header-logo-text span {
    font-style: italic;
  }

  .header-logo-pic {
    fill: rgba(253, 146, 34, 1);
  }

  .header-mobil-menu-button-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-mobile-menu {
    position: fixed;
    display: flex;
    width: 300px;
    height: 400px;
    top: 0;
    left: 0;
    background-color: #111111;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  /* .header-mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  } */

  /* .header-container-mobile-menu {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
  } */

  /* .header-mobile-menu-close-bth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  } */

  /* .header-mobil-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  } */
}

/* ------Tablet------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* ------Dekstop------- */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }

  .header-mobile-menu {
    display: none;
  }
  /* .header-body {
    display: flex;
    align-items: center;
  } */

  .header-mobil-menu-button-open {
    display: none;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  .header-socials-list {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 188px;
  }

  .header-list-item:not(:last-child) {
    margin-right: 24px;
  }

  .header-socials-list {
    gap: 18px;
    margin-left: auto;
  }

  .header-logo-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .header-logo-text span {
    font-style: italic;
  }

  .header-logo-pic {
    fill: rgba(253, 146, 34, 1);
  }
  .header-list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
  }
}
