/* ::after,
::before {
  box-sizing: border-box;
}
h2 {
  display: block;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
div {
  display: block;
} */
.hero {
  background-color: #fcf1e0;
  background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)),
    url(../img/hero/hero-mobile-1x.jpg);
  background-position: center;
  background-size: cover;
  min-width: 335px;
  height: 621px;
  padding-bottom: 72px;

  background-color: #fcf1e0;
  border-radius: 30px;
}

.hero-container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 72px;
  width: 100%;
}

.hero-pre-title {
  font-family: Montserrat, sans-serif;
  min-width: 299px;
  height: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  padding-top: 395px;
  padding-bottom: 20px;
  color: #ffffff;
}

.hero-btn {
  min-width: 345px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 20px;
}

.hero-mbn-btn {
  background-color: var(--primary-accent-color);
  min-width: 120px;
  height: 41px;
  margin-top: 32px;
  padding: 12px 28px;
  margin-bottom: 32px;
  margin-right: 0;
  cursor: pointer;
  border-radius: 100px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: 0.06em;
  align-items: center;
  color: black;

  gap: 14px;
  display: flex;
  flex-direction: row;
  justify-content: left;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-mbn-btn:is(:hover, :focus) {
  cursor: pointer;
  color: #ffffff;
}

.hero-him-btn {
  background-color: transparent;
  outline: 1px solid #ffffff;
  min-width: 159px;
  height: 41px;
  margin-top: 32px;
  margin-left: 14px;
  margin-right: 6px;
  padding: 12px 28px;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: #ffffff;

  gap: 14px;
  display: flex;

  justify-content: left;
}
.hero-him-btn:is(:hover, :focus) {
  cursor: pointer;
}
.scroll {
  color: #ffffff;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.06em;
  margin-right: 12px;
  display: flex;
  align-items: center;
}
.hero-scroll-down {
  border-radius: 50%;
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-scroll {
  background-color: #ffffff;
  stroke: var(--primary-accent-color);
  margin-top: 32px;
  margin-bottom: 27px;
  gap: 14px;
  display: flex;
  width: 12px;
  height: 12px;
}
.svg {
  stroke: var(--primary-accent-color);
}

.hero-mbn-btn:hover,
.hero-mbn-btn:focus {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (min-width: 375px) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero/hero-tablet-1x.jpg);

    width: 768px;
    margin-bottom: 72px;
  }

  .hero-container {
    width: 100%;
    padding: auto 40px 40px 40px;
  }
  .hero-btn {
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
  .hero-mbn-btn {
    min-width: 144px;
    height: 45px;
    padding: 14px 40px;
  }
  .hero-him-btn {
    min-width: 183px;
    height: 45px;

    margin-right: 153px;
    padding: 14px 40px;

    gap: 14px;
  }
  .scroll {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    margin-right: 14px;
  }
  .hero-scroll-down {
    width: 38px;
    height: 38px;
  }
  .hero-scroll {
    background-color: #ffffff;
    stroke: var(--primary-accent-color);
    margin-bottom: 97px;
  }
  .svg {
    stroke: var(--primary-accent-color);
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero/hero-desktop-1x.jpg);

    width: 1136px;
  }

  .hero-container {
    width: 100%;
  }

  .hero-him-btn {
    margin-right: 585px;
  }
}
