.order-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal {
  width: 311px;
  min-height: 471px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fafafa;
  border-radius: 15px;
  padding: 32px 24px;
}

.btn-order-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  fill: rgba(17, 17, 17, 1);
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-modal-close:is(:hover, :focus) {
  background-color: #fcf1e0;
  fill: #fd9222;
}

.order-form-title {
  margin: 0;
  max-width: 255px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  text-align: center;
}

.order-form-title span {
  color: var(--primary-accent-color);
}
