.order-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

/* .order-list:not(:last-child) {
  margin-bottom: 8px;
} */

.order-modal-item {
  display: flex;
  width: 263px;
  height: 85px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 32px 0 32px;
}

.order-modal-item:not(:last-child) {
  margin: 8px auto;
}
.order-modal-item:last-child {
  margin-bottom: 32px;
}

.order-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6px 16px;
  gap: 14px;

  width: 70px;
  height: 29px;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px 20px;
  gap: 14px;
}

.order-modal-img {
  width: 84px;
  height: 69px;
  justify-content: center;
}

.order-form-group {
  margin-bottom: 18px;
}

.order-modal {
  width: auto;
  min-height: 471px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fafafa;
  border-radius: 15px;
  padding: 32px 24px;
}

.order-form-control {
  display: flex;
  /* gap: 21px; */
}

.btn-order-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  fill: rgba(17, 17, 17, 1);
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-modal-close:is(:hover, :focus) {
  background-color: #fcf1e0;
  fill: #fd9222;
}

.order-form-title {
  margin: 0;
  max-width: 255px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  text-align: center;
}

.order-form-title span {
  color: var(--primary-accent-color);
}

.order-contacts-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.order-form-label span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.order-form-input {
  width: 100%;
  height: 45px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background: #fafafa;
}

.order-form-input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-order-tel {
  padding: 0;
  padding: 10px 18px 10px 106px;
  position: relative;
}

.modal-order-icon-position {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  width: 74px;
  padding: 4px 8px 4px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
  /* position: absolute; */
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  border-right: 2px solid rgba(64, 64, 64, 0.3);
}

.order-form-textarea {
  height: 91px;
  resize: none;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background: #fafafa;
}

.modal-order-submit-btn {
  display: block;
  margin-top: 4px;
  width: 93px;
  height: 41px;
  background: #fd9222;
  border-radius: 100px;
  border-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order-submit-btn:is(:hover, :focus) {
  cursor: pointer;
  color: rgba(253, 146, 34, 1);
  background-color: rgba(252, 241, 224, 1);
}
