/* ---------------mobail------------ */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }

  .our-products {
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .our-products-list {
    width: 335px;
    height: 364px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    padding: 32px 0 32px;
    margin: 0 auto;
  }

  .our-products-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  .our-products-title span {
    color: #fd9222;
  }

  .our-products-img {
    width: 230px;
    height: 200px;
    margin: 0 auto;
  }
  .our-products-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px;
  }
  .our-products-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    margin-bottom: 18px;
  }
  .box {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    gap: 14px;

    width: 94px;
    height: 33px;

    background: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
/* --------------tablet-------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  .our-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  .our-products {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .our-products-list {
    width: 270px;
    margin: 0 auto;
  }
}
/* ------------desktop---------------- */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }
  .our-products {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .our-products-img {
    background-image: url(../img/our-products/our-1-2x.jpg),
      url(../img/our-products/our-2-2x.jpg),
      url(../img/our-products/our-3-2x.jpg),
      url(../img/our-products/our-4-2x.jpg),
      url(../img/our-products/our-5-2x.jpg),
      url(../img/our-products/our-6-2x.jpg),
      url(../img/our-products/our-7-2x.jpg),
      url(../img/our-products/our-8-2x.jpg);
  }
}
