/* ---------------mobail------------ */
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    overflow: hidden;
  }
  .our-products {
    margin: 0 auto;
    padding-bottom: 72px;
  }
  .slider-item {
    max-width: 335px;
    height: 364px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: var(--primary-background-color);
    padding: 32px 0 32px;
    margin: 0 auto;
  }

  .our-products-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .our-products-title span {
    color: var(--primary-accent-color);
  }

  .our-products-img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
  }
  .our-products-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px;
  }
  .our-products-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    margin-bottom: 18px;
  }
  .box {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    flex-direction: row;
    padding: 8px 19px;
    gap: 14px;
    width: 94px;
    height: 33px;
    background: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .slider-pagination {
    margin-top: 20px;
  }
}
/* --------------tablet-------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  .our-products-container {
    display: flex;
    flex-wrap: wrap;
  }
  .our-products-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .our-products {
    padding-bottom: 100px;
  }
  .slider-item {
    max-width: 270px;
    margin: 0 auto;
  }
  .slider-pagination {
    margin-top: 32px;
  }
}
/* ------------desktop---------------- */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }
  .our-products {
    padding-bottom: 128px;
  }
  .slider-pagination {
    margin-top: 32px;
  }
}

/*--------------slider------------ */

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.slider-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #939eac;
  opacity: 1;
}

.slider-pagination .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 50px;
  background-color: var(--primary-accent-color);
}

.priceSwiper {
  overflow: hidden;
}

.slider-item {
  display: flex;
}

.our-block {
  display: flex;
  justify-content: center;
}

.our-li-block {
  display: block;
}