.production {
    padding-bottom: 72px;
    background-color: #E2E2E2;
}

.production-container{
    min-width: 320px;
    padding:0 20px ;
    
}

.production-title {
    font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 24px;
     text-align: center;
     letter-spacing: -0.03em;
     margin-bottom: 32px;
     text-transform: uppercase;
     color: #111111;
}

.production-title span {
 color: var(--primary-accent-color);
}

.production-video {
    margin-bottom: 40px;
    border-radius: 15px;
}

.production-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 14px;
}

.production-pre-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
    
    
}

 .production-list>li::before {
    content: "\a0\a0\a0";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4C4C4C;
    margin: 5px 8px 0px 0px;

}
.production-list {}

.production-list {}

.production-item {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;
        margin-bottom: 18px;
        display: flex;
        color: var(--primary-text-color);
}