.is-loved-section {
  font-family: Montserrat, sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }



.is-loved-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.is-loved-title-p {
  color: #111111;
}

/* .is-loved-text-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
  justify-content: center;
} */

.cards-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}

.card-list-item {
  display: inline-block;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0px 9px 26px 0px rgba(215, 228, 249, 0.25);
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.cards-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-top: 40px;
  margin-bottom: 24px;
}

.cards-direction {
  margin: 0 auto;
  /* max-width: 312px; */
  height: 72px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  padding: 0 18px;
}

/* .card{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: block;
}

.card-block-text{
    padding: 32px 0 32px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden; 
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
} */

/* .is-loved-line {
    width: 28px;
    height: 13px;
    background-color: #FD9222;
    border-radius: 13px;
    position: absolute;    
    left: 490px;    
} */

.is-loved-block {
  margin: 0 auto;
  display: flex;
    justify-content: center;
}

.is-loved-button {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.23;
  color: #111111;
  background-color: #e2e2e2;
  border: 1px solid #fd9222;
  cursor: pointer;
  transition: 300ms cubic-bezier(1, 0.04, 1, 1);;
}

.is-loved-button:hover,
.is-loved-button:focus {
  background-color: var(--primary-accent-color);
  color: floralwhite;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }

/*           slider          */

.wrapper {
  /* padding: 30px; */
  min-height: 85%;
  position: relative;
}

.card-set {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 483px;
}

/* задає висоту */
.image-slider {
    padding: 0 0 0 0;
   
} 


/* button next and prev */
.image-slider .course-next::after,
.course-prev::after {
  font-size: 50px;
  color: transparent;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  line-height: 20px;
  font-size: 14px;
  background-color: rgba(17, 17, 17, 0.3);
  opacity: 0.65;
}

.swiper-pagination-bullet-active {
  opacity: 2;
  background: #fd9222;
  width: 28px;
  border-radius: 8px;
}

/* .swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none
} */


/* .image-slider .swiper-pagination-bullet:hover{
    width: 40px;
    height: 40px;
    background-color: tomato;
}   */

.another {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.gallary {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.gallary .swiper-wrapper {
  box-sizing: content-box;
}

.gallary-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 160px;
  height: 13px;
  z-index: 10;
  border-radius: 5px;
  background-color: #E2E2E2;
  cursor: pointer;
}

/* .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: -40px;
} */

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 200px;
  background-color: transparent;
}

.image-slider-wrapper {
}

.image-slider-slide {
}

.swiper-slide {
}

.image-slider-image {
  text-align: center;
  max-width: 100%;
}

.position {
  margin: auto;
  /* height: 242px;
    width: 360px; */
  position: absolute;
  display: inline-block;
  right: calc(50% - (80px / 2));
  border-radius: 80px;
}

/*      mobile      */

@media screen and (max-width: 767px) {
  .card-set {
      margin-bottom: 72px;
  }

  .card-list-item {
    max-width: 335px;
    height: 202px;
    margin-bottom: 20px;
  }

  .cards-direction {
    padding: 0 18px;
  }

  .is-loved-section {
    max-width: 375px;
    height: auto;
    
  }

  .is-loved-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  /* .is-loved-line {
        left: 90px;  
        bottom: 72px;  
    } */

  .is-loved-button {
    font-size: 14px;
    border-radius: 100px;
    padding: 12px 28px;
  }
}

/*      tablet      */

@media screen and (min-width: 768px) {
  .card-set {
      margin-bottom: 100px;
    }

  .card-list-item {
    max-width: 344px;
    height: 242px;
    margin-bottom: 32px;
  }

  .cards-direction {
    padding: 0 24px;
  }

  .is-loved-section {
    max-width: 704px;
    height: auto;
    
  }

  .is-loved-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  /* .is-loved-line {
        left: 275px;
        bottom: 75px;    
    } */

  .is-loved-button {
    font-size: 18px;
    border-radius: 100px;
    padding: 14px 40px;
  }
}

/*      desktop      */

@media screen and (min-width: 1200px) {
  .card-set {
      margin-bottom: 117px;
    }

  .card-list-item {
    max-width: 360px;
    height: 242px;
    margin-bottom: 32px;
  }

  .cards-direction {
    padding: 0 16px;
  }

  .is-loved-section {
    max-width: 1200px;
    height: auto;    
  }

  .is-loved-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  /* .is-loved-line {
        left: 490px;
        bottom: 75px;    
    } */

  .is-loved-button {
    font-size: 18px;
    border-radius: 100px;
    padding: 14px 40px;
  }
}
