/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./font-face.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./uniqe-comp.css');
@import url('./production.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
/* @import url('./reviews.css'); */
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal-buy-now.css');
@import url('./modal-explore.css');
@import url('./modal-review.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.02em;

  --primary-text-color: #111111;
  --primary-background-color: #fafafa;
  --2nd-background-color: #1e1823;
  --primary-accent-color: #fd9222;

  color: #111111;
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--primary-background-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
}
