:root {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.02em;
  
    --primary-text-color: #111111;
    --primary-background-color: #e2e2e2;
    --2nd-background-color: #1e1823;
    --primary-accent-color: #fd9222;
  --primary-white-color: #ffffff;
    color: #111111;
    background-color: #e2e2e2;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }

  .no-scroll {
    overflow: hidden;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* ============Subscribe ==============*/



  .subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 356px;
  }

  .subscribe-explore{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.03em;
text-transform: uppercase;

color: var(--primary-white-color);
  }

  .subscribe-text{
    margin-bottom: 24px;
    font-weight: 400;
font-size: 14px;
line-height: 18px;
/* or 129% */

text-align: center;
letter-spacing: -0.02em;

color: var(--primary-white-color);
  }

.subscribe-btn{

  margin-left: auto;
  margin-right: auto;
    width: 128px;
    height: 41px;
    background-color: var(--primary-accent-color);
    border-radius: 100px;
border: none;
cursor: pointer;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: var(--primary-white-color);}



.subscribe-section {
  padding-top: 62px;
  padding-bottom: 63px;
  background-color: #2e2f42;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Subscribe.img/Subsribe-mobil.jpg"); 

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
     url("../img/Subscribe.img/Subscribe-mobile-2x.jpg");
  }
}}


/* --------------Modal mobile */

.subscribe-modal{
  max-width: 375px;
  width: 100%;
  height: 100%;
}


.backdrop {
  position: relative;
  transition: opacity var(--taming-duration) var(--taming-cubic);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

/*   background-color: rgba(46, 47, 66, 0.4); */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}



/* =====================TABLET =======================================*/
@media screen and (min-width: 375px) and (max-width: 767px)   {

  .subscribe-section{
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url("../img/Subscribe.img/Subscribe-tablet.jpg");

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

  .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), 
     url(../img/Subscribe.img/Subscribe-tablet-2x.jpg);}}}

  .subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 497px;
  }
  .subscribe-explore{
    font-weight: 600;
font-size: 24px;
line-height: 28px;}

  .subscribe-text{
    font-weight: 400;
font-size: 14px;
line-height: 18px;
  }

  .subscribe-btn{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
    width: 172px;
    height: 50px;
  }

  .subscribe-btn:hover, 
  .subscribe-btn:focus{
    color:  #FD9222;
    background-color: #FCF1E0;}}

/* =================desktop =====================================*/

@media  screen and (min-width: 768px)  {

  .subscribe-section{
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1200px;
    width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url("../img/Subscribe.img/Subsribe-desktop.jpg");}

  .subscribe-container{
    max-width: 497px;
  }

  .subscribe-explore{
    font-weight: 600;
font-size: 24px;
line-height: 28px;
  }

  .subscribe-text{
    font-weight: 400;
font-size: 14px;
line-height: 18px;
  }

  
  .subscribe-btn{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
    width: 172px;
    height: 50px;
  }

  .subscribe-btn:hover, 
  .subscribe-btn:focus{
    color:  #FD9222;
    background-color: #FCF1E0;
  }
}

/* ---------------------MODAL SUBSCRIBE */

