:root {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.02em;
  
    --primary-text-color: #111111;
    --primary-background-color: #e2e2e2;
    --2nd-background-color: #1e1823;
    --primary-accent-color: #fd9222;
  --primary-white-color: #ffffff;
    color: #111111;
    background-color: #e2e2e2;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }
  
  /* ============Subscribe ==============*/

  .subscribe-explore{
    font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.03em;
text-transform: uppercase;

color: var(--primary-white-color);
  }

  .subscribe-text{
    font-weight: 400;
font-size: 14px;
line-height: 18px;
/* or 129% */

text-align: center;
letter-spacing: -0.02em;

color: var(--primary-white-color);
  }

.subscribe-btn{
    width: 128px;
    height: 41px;
    background-color: var(--primary-accent-color);
    border-radius: 100px;
border: none;
cursor: pointer;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: var(--primary-white-color);}

.overlay {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile-photo.jpg");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-2x.jpg);
  }
}