.uc-conteiner {
  padding-top: 72px;
  padding-bottom: 72px;
}
.uc-title {
  font-family: Montserrat;
  font-weight: 600;
  size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 283px;
  margin: 0 auto 24px;
}
.uc-title > span {
  color: #fd9222;
}
.uc-title-text {
  font-family: Montserrat;
  font-weight: 400;
  size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  margin: 0 auto 32px;
}
.uc-image-wrap {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px;
  width: 335px;
  height: 270px;
}
.uc-card-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}
.uc-info {
  background: #ffffff;
  border-radius: 15px;
  padding: 28px;
  width: 335px;
  height: 270px;
  margin-bottom: 20px;
}
.uc-subtitle {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .uc-conteiner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .uc-title {
    size: 24px;
    line-height: 1.17;
    max-width: 411px;
    margin: 0 auto 28px;
  }
  .uc-title-text {
    margin-bottom: 50px;
    max-width: 486px;
  }
  .ingredients-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .uc-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .uc-conteiner {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .ingredients-list {
    gap: 19px;
  }
  .uc-image-wrap {
    width: 270px;
  }
  .uc-info {
    width: 270px;
    height: 270px;
  }
}
